@import url('../assets/lib/bootstrap/css/bootstrap.css');
footer.section1{
    width: auto;
    height: 450px;
    background-color:#3b3a3b;
    background-attachment:fixed;
 }

 .utile{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    justify-content: center;

 }

 .icon-texts{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
 }

 .icon-texts:hover{
    text-decoration: none;
    font-size: 20px;
    color: #3553f0;
    font-family: sans-serif;
    transition: 0.2s;
 }



 a{
    text-decoration: none;
 }

 /*partie liens utiles*/
 div.side1{
    width: 350px;
    height: 200px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 105px;

 }

.side1 a{
    text-decoration: none;
}

 .side1 h3{
    text-align: center;
    color: #bfc2c8;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

 }


 /*partie contact*/

 div.side2{
    width: 350px;
    height: 200px;
    vertical-align:middle;
    display: inline-block;
 }


 span{
    text-align: justify;
    color:#727576;
    font-size: 18px;
    font-family: serif;
 }


 .icon-texts{
    margin-left: 10px;
    text-align: justify;
    color:#727576;
    font-size: 20px;
    font-family: serif;
 }

 .icon-texts{
    margin-left: 10px;

 }

 div.icon-cont{
    margin-left: 10px;
    margin-top: 10px;
 }

 .side2 h3{
    text-align: center;
    color: #bfc2c8;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
 }

 /*partie rejoignez nous*/

 div.side3{
    width: 350px;
    height: 200px;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 105px;
 }

 .side3 h3{
    text-align: center;
    color: #bfc2c8;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
 }

 .icon-container3{
    margin-left: 10px;
    margin-top: 10px;
 }

 a.social{
    text-decoration: none;
 }

 a.social:hover{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: 0.2s;
 }



 .logo1{
    margin-bottom: -100px;
    margin-left: 525px;
}



.logo1 img{
    width: 300px;
    height: 200px;

}

section.footer{
    width: 100%;
    height: 50px;
    background-color: #161516;
    margin-top: 100px;

}

.copyright_text{
    width: 100%;
    font-size: 18px;
    margin-left: 525px;
    margin-top: 20px;
    color: #ffffff;
}


.icon-textt{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}

.icon-textt:hover{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color:#3553f0;
    transition: 0.2s;
}


/* ////////////////////////////////////////////////////////////////////////////////// */

/* Css pour La page Faq */

section.faqheader{
    background: url(../image/confidentialité.png);
    background-size: 100% 125%;
    width: auto;
    height: 20vh;
    margin-bottom: 30px;
}

h1.faqh1{
    color: #ffff;
    font-weight: 600 bold;
    text-align: center;
    padding-top: 30px;
}

section.faqbody{
    margin-left: 100px;
    margin-right: 100px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

/* Css pour Le Dashboard */

section.top-page{
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f2;
}

section.info{
    background: #727576;
    width: 400px;
}

section.dash{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #3b3a3b;
    padding-right: 150px;
}

div.card{
    margin-top: 20px;
    margin-left: 150px;
}

.card-title{
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}

div.card:hover{
    margin-top: 18px;
    margin-left: 148px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

/* Css pour La page Suivis */

h1.suivis{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

div.top-table{
    margin-left: 115px;
    margin-right: 115px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .empty-img {
    max-width: 100%;
    max-height: 100%;
  }

  p.text-info{
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    right: 550px;
    top: 450px;



  }
  .inspect1{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #ffff;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: #3553f0;
}

.inspect1:hover{
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 95px;
    color: #b2b4c0;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: #0029ff;
    transition: 0.2s;
}

.inspect{
    font-size: 18px;
    margin-left: 640px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #ffff;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: #3553f0;
}

.inspect:hover{
    font-size: 18px;
    margin-left: 625px;
    margin-top: 45px;
    margin-bottom: 95px;
    color: #b2b4c0;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: #0029ff;
    transition: 0.2s;
}
