section.header{
    background: url(../../../image/confidentialité.png);
    background-size: 100% 125%;
    width: auto;
    height: 20vh;
    margin-bottom: 30px;
}

section.body{
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
}

h1{
    color: #ffff;
    font-weight: 600 bold;
    text-align: center;
    padding-top: 30px;
}

h2{
    text-align: center;

}
div.intro-page{
    padding:20px;
    margin:20px;
    text-align: justify;
}

.texte{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: larger;
    font-weight: bold;
}

h4{
    margin-bottom: 50px;
}
