@import url('../assets/lib/bootstrap/css/bootstrap.css');
img.logo{
    margin-left: 15px;
    width: 200px;
    height: 150px;

}

div.navbar-nav{
    margin-left: 100px;
}

a.nav-link{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
        color: #3553f0;
        font-weight: 600;
}

a.nav-link:hover{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 19px;
    transition: 0.2s;
    color: #3553f0;
    font-weight: 600;
}


button.login{
    border: 0;
    color: #fff;
    background-color:#3553f0;
    height: 35px;
    width: 125px;
    border-radius: 7px;
    left: 0;
    right: 0;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
}

button.login:hover{
    border: 0;
    color: #b2b4c0;
    background-color:#0029ff;
    height: 40px;
    width: 140px;
    border-radius: 7px;
    left: 0;
    right: 0;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.1s;
}


.dropdown{
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.bloc-top{
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    align-items: center;
    background-color: #3553f0;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bloc-top:hover{
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    font-size: 20px;
    align-items: center;
    background-color: #3553f0;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
}

#icon{
    width: 32px;
    height: 32px;
}
.dashboard{
    margin-right: 10px;
}

.dashboard:hover{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.logout:hover{
    width: 32px;
    height: 32px;
    margin-left: -2px;
}
