section.header{
    background: url(../../../image/about-bg.png);
    background-size: 100% 125%;
    width: auto;
    height: 20vh;
    margin-bottom: 30px;
}

h1{
    color: #ffff;
    font-weight: 600 bold;
    text-align: center;
    padding-top: 30px;
}

section.body{
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
}

div.wl h3{
    color: #000;
    text-align: center;
}

div.intro-page{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

div.top-logo img{
    width: 400px;
    height: 200px;
}

div.intro{
    color: #3f3f3f;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 0px;
}

div.intro p{
    margin-left: 20px;
}

div.crew-img img{
    width: 300px;
    height: 200px;
}

div.top-xp{
    color: #3f3f3f;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 100px;
}

div.top-xp p{
    margin-right: 20px;
}

div.aligne{
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 400px;
}

div.aligne1{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 27px;
}

