@import url(../assets/lib/bootstrap/css/bootstrap.css);

div.container{
    background-color: aquamarine;
    display: flex;
}

h2{
    text-align: center;
}
div.facture{
    background-color:beige;
}

div.input-group{
    width: 400px;
}

div.card{
    align-items: center;
}

div.back{
    margin-left: 110px;
}

.back-button{
    width: 50px;
    height: 50Px;
}