div.header{
    background: url('../image/BG_home.png');
    background-size: 100% 100%;
    width: auto;
    height: 90vh;
}
.top-page{
    position: absolute;
    right: 240px;
    bottom: 280px;
}

.top-page h1{
    font-size: 60px;
    color: #ffff;
    font-weight: 700;
}

.inscription{
    font-size: 18px;
    margin-left: 220px;
    color: #ffff;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background-color: #3553f0;
    position: absolute;
    bottom: -80;
}

.inscription:hover{
    font-size: 18px;
    margin-left: 205px;
    color: #b2b4c0;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: #0029ff;
    position: absolute;
    bottom: -90;
    transition: 0.2s;
}

div.icon-container{
    height: 40vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}

.icon img{
    width: 60px;
    height: 60px;
}

.icon figcaption{
    font-weight: 600;
    font-size: 19px;
}
